.otp-form {
  display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	margin: 14% 24% 0 24%;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

  button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;


    &:hover {
      background-color: black;
    }
  }

  .title {
    margin-bottom: 20px;
  }
  
  .otp-input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .otp__digit {
    width: calc(100% / 6 - 10px);
    max-width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .result {
    text-align: center;
  }
  
  .user-message {
    font-weight: 600;
     margin-top: 2%;
    font-size: 14px;
  }
  
  ._ok {
    color: green;
  }
  
  ._notok {
    color: red;
  }
}


