.error-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25vh;
    left: 8vw;
    .image-container {
        display: flex;
        justify-content: center;

        .lost-astronaut-image {
            height: 200px;
        }
    }

    .MuiTypography-root {
        margin-bottom: 30px;
    }
}