.homepage {
    position: relative;
    top: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
    max-width: unset !important;
    padding: unset !important;

    .globe-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px);
        scroll-snap-align: start;

        .world {
            height: 65vh !important;
        }

        .Homepage-title-box {
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 25px;

            .homepage-text {
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #b0adff;

                h3,
                .typed-cursor {
                    font-size: 47px;
                    font-weight: 600;
                }
            }
        }
    }

    .image-3d-tile-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: center;
        align-items: center;
        scroll-snap-align: start;
    }
    .footer-container {
        margin-top: 50px;
        background: #f2f2ff !important;
        backdrop-filter: blur(4px);
        box-shadow: unset !important;
        text-align: center;
        padding: 30px 0;
    }
}
