.reset-password-container {
	display: flex;
	overflow: hidden;
	align-items: center;
	height: 42vh;
	padding: 20%;
	margin-top: 35%;
	flex-direction: column;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);

	.MuiFormControl-root {
		width: 100%;
		input {
			color: black;
		}
	}

	.title {
		font-size: 14px;
		font-weight: 600;
	}
	.MuiSvgIcon-root {
		color: black;
	}

	
	.submit {
		background-color: black;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		border-radius: 5px;


		&:hover {
			background-color: black;
		}
	}
}
